<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/styles/test.css">
    <title>murami</title>
</head>
<body>
    <div class="wrapper">
        <nav class="nav">
            <div class="nav-logo">
              <p>MÙRÁMÍ!</p>
                <span>MÙRÁMÍ!</span>
            </div>
            <div class="nav-menu" id="navMenu">
                <ul>
                    <li>
                      <a href="#" class="link active" id="aboutModelLink"><i class='bx bx-info-circle' ></i>AboutModel</a>
                      <ul>
                        <p class="tooltip">Project Focus: Solving Lagos Rental Uncertainty through Mùràmí. <br><br>
                          Searching for suitable apartments, particularly in the bustling city of Lagos, can be a daunting task, compounded by the uncertainty of whether the options align with your budget. Enter MÙRÁMÍ, your guide to a more informed renting experience. By factoring in your preferences for amenities, location, and housing type, Mùràmí offers an approximate annual rent estimate, enabling you to make more informed decisions before finalizing your housing choice. <br> <br>
                          
                          Model Description: XGBoost Algorithm and Data Advantage. <br> <br>
                          The Mùràmí. project utilizes the XGBoost algorithm to address the distinct challenges presented by the dataset. Particularly, due to the dataset's limited nature, XGBoost was deliberately chosen for its remarkable performance in scenarios featuring restricted feature sets. The algorithm's capacity to generate accurate predictions even when dealing with limited information highlights its practicality. its ability to handle incomplete data strngthens its reliability.  XGBoost's expertise in addressing the intricacies of restricted datasets positions it as a suitable approach for producing precise forecasts of housing prices, particularly focusing on the influence of diverse amenities. Furthermore, the data this model was trained on, was scraped from apartment leasing platforms. <br><br>

                          Limitations: <br>
                          While adept at historical estimates, this model doesn't adapt to immediate market shifts, and so, current trends might not be fully captured. <br> <br>
                          
                          Note: Data used to train this model will not be updated to reflect evolving trends as they occur.</p>

                          <span class="tooltip-small">Project Focus: Solving Lagos Rental Uncertainty through Mùràmí. <br><br>
                            
                            Searching for suitable apartments, particularly in the bustling city of Lagos, can be a daunting task, compounded by the uncertainty of whether the options align with your budget. Enter MÙRÁMÍ, your guide to a more informed renting experience. By factoring in your preferences for amenities, location, and housing type, Mùràmí offers an approximate annual rent estimate, enabling you to make more informed decisions before finalizing your housing choice. <br> <br>Limitations: <br>
                            While adept at historical estimates, this model doesn't adapt to immediate market shifts, and so, current trends might not be fully captured. <br> <br>Note: Data used to train this model will not be updated to reflect evolving trends as they occur.</span>
                       
  
                    </ul>
                  </li>
                </ul>
            </div>
            <div class="nav-menu-btn">
                <i class='bx bx-menu' onclick="myMenuFunction()"></i>
            </div>
        </nav>
        <!-- !---------------------- Form Box ----------------------> 

        <form action="{{ url_for('predict')}}" method="post" onsubmit="predict(event); return false;">
            <div class="form-box">
                <div class="input-container" id="input">
                    <div class="top">
                        <span>Housing In Lagos Nigeria</span>
                        <header>Èkó ò ní bàjé</header>
                    </div>
                    <div class="two-forms">
                        <div class="input-box">
                            <h2>Housing Type</h2>
                            <div class="custom-dropdown" id="housingTypeDropdown">
                              <div class="dropdown-selected">Select Housing Type <ion-icon name="chevron-down-outline" class="icon-arrow"></ion-icon></div>
                              <div class="dropdown-options">
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="0">Duplex</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="1">Flat/Apartment</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="2">Mini Flat</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="3">Selfcon</div>
                              </div>
                              <input type="hidden" name="housing_type" value="">
                            </div>
                        </div>
                          <!-- end of house type -->
                        <div class="input-box">
                            <h2>Bedrooms</h2>
                            <div class="custom-dropdown" id="bedroomsDropdown">
                              <div class="dropdown-selected">No of Bedrooms <ion-icon name="chevron-down-outline" class="icon-arrow"></ion-icon></div>
                              <div class="dropdown-options">
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="1">1</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="2">2</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="3">3</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="4">4</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="5">5</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="6">6</div>
                              </div>
                              <input type="hidden" name="bedroom" value="">
                            </div>
                        </div>
                        <div class="input-box">
                            <h2>Bathrooms</h2>
                            <div class="custom-dropdown" id="bathroomsDropdown">
                              <div class="dropdown-selected">No of Bathrooms <ion-icon name="chevron-down-outline" class="icon-arrow"></ion-icon></div>
                              <div class="dropdown-options">
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="1">1</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="2">2</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="3">3</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="4">4</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="5">5</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="6">6</div>
                              </div>
                              <input type="hidden" name="bathroom" value="">
                            </div>
                        </div>
                          <!-- end of bathrooms -->

                        <div class="input-box">
                            <h2>Guest Toilet(s)</h2>
                            <div class="custom-dropdown" id="guestToiletDropdown">
                              <div class="dropdown-selected">No of Guest Toilet <ion-icon name="chevron-down-outline" class="icon-arrow"></ion-icon></div>
                              <div class="dropdown-options">
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="0">0</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="1">1</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="2">2</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="3">3</div>
                              </div>
                              <input type="hidden" name="guest_toilet" value="">
                            </div>
                        </div>
                        <!-- end of guest toilet -->

                        <div class="input-box">
                            <h2>Parking Space(s)</h2>
                            <div class="custom-dropdown" id="parkingSpaceDropdown">
                              <div class="dropdown-selected">Parking spaces <ion-icon name="chevron-down-outline" class="icon-arrow"></ion-icon></div>
                              <div class="dropdown-options">
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="0">0</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="1">1</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="2">2</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="3">3</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="4">4</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="5">5</div>
                              </div>
                              <input type="hidden" name="parking_space" value="">
                            </div>
                        </div>

                        <!-- end of parking space -->

                        <div class="input-box">
                            <h2>Location</h2>
                            <div class="custom-dropdown" id="locationDropdown">
                              <div class="dropdown-selected">Select Location <ion-icon name="chevron-down-outline" class="icon-arrow"></ion-icon></div>
                              <div class="dropdown-options">
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="0">Abraham Adesanya</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="1">Abule Egba</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="2">Adeniyi Jones</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="3">Agege</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="4">Agege-Oko-oba</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="5">Ago Palace</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="6">Ajah</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="7">Ajah-Addo</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="8">Ajah-Badore</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="9">Alagbado</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="10">Alapere</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="11">Alimosho</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="12">Allen Avenue</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="13">Amuwo Odofin</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="14">Apapa</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="15">Awoyaya</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="16">Badagry</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="17">Bode Thomas</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="18">Ebute Metta</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="19">Egbeda</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="21">Epe</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="22">Festac</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="23">Gbagada</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="24">Idimu</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="25">Ifako</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="26">Igando</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="27">Iju-Ishaga</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="28">Ikeja</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="29">Ikeja G.R.A</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="30">Ikorodu</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="31">Ikosi</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="32">Ikotun</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="33">Ikoyi</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="34">Ikoyi-Awolowo-Road</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="36">Ilupeju</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="37">Isheri</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="38">Isheri-Olowora</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="39">Isolo</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="40">Isolo-Oke-Afa</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="41">Iyana Ipaja</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="42">Ketu</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="43">Kosofe</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="44">Lagos Island</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="45">Lekki</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="46">Lekki Phase 1</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="47">Lekki Phase 2</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="48">Lekki Second Toll Gate</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="49">Lekki VGC</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="50">Lekki-Admiralty-Way</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="51">Lekki-Agungi</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="52">Lekki-Chevron</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="53">Lekki-Ibeju</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="54">Lekki-Idado</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="55">Lekki-Igbo-Efon</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="56">Lekki-Ikate</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="57">Lekki-Ikota</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="58">Lekki-Jakande</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="59">Lekki-Ologolo</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="60">Lekki-Orchid</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="61">Lekki-Osapa-London</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="62">Magodo</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="63">Magodo Brooks</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="64">Magodo Phase 1</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="65">Magodo Phase 2</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="66">Maryland</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="67">Maryland-Mende</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="68">Mushin</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="69">Ogba</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="70">Ogudu</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="71">Ojo</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="72">Ojodu Berger</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="73">Ojota</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="74">Okota</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="76">Omole</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="77">Omole Phase 2</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="78">Onike</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="79">Opebi</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="80">Opic</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="81">Oregun</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="82">Oshodi</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="83">Oshodi-Ajao</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="84">Oshodi-Mafoluku</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="85">Sangotedo</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="86">Shangisha</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="87">Shomolu</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="88">Surulere</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="89">Victoria Island</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="90">Victoria-Island-Oniru</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="91">Yaba</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="92">Yaba-Akoka</div>
                                <div class="dropdown-option" style="--i:5;" class="option-text" data-value="93">Yaba-Alagomeji</div>
                              </div>
                              <input type="hidden" name="district" value="">
                            </div>
                        </div>

                        <!-- end of district -->


                         <!-- the div under this comment is the closing div for two-forms -->
                  </div>
              </div>
          </div>
          <input type="submit" value ="Estimate" id ="estimate" >
      </form>
      <div class="result-card" id="result-card">
        <div class="result">
            <p style="font-size: 17px">{{ prediction_text }}</p>
        </div>
        <button class="close-button" onclick="closeResultCard()">Close</button>
    </div>
      <section>

          <footer id="author">
            <p>&copy; 2022 Project Murami | All Rights Reserved | Peace Edogun.</p>
          </footer>

        </section>

    </div>


        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="../static/js/script.js"></script>

        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


</body>
</html>
